! xterm
xterm*cursorColor: magenta
xterm*background:  #000010
xterm*foreground:  #ffffff
xterm*color0:      #000000
xterm*color1:      #9e1828
xterm*color2:      #aece92
xterm*color3:      #968a38
xterm*color4:      #414171
xterm*color5:      #963c59
xterm*color6:      #418179
xterm*color7:      #bebebe
xterm*color8:      #666666
xterm*color9:      #cf6171
xterm*color10:     #c5f779
xterm*color11:     #fff796
xterm*color12:     #4186be
xterm*color13:     #cf9ebe
xterm*color14:     #71bebe
xterm*color15:     #ffffff
